[Unit]
Description=RunEverything Agent
After=network-online.target
Wants=network-online.target

[Service]
ExecStart=/usr/bin/runeverything run -no-qr
Restart=always
RestartSec=3
Environment=RE_HOME=%h/.runeverything

[Install]
WantedBy=default.target
